@model SistemaServicios.Models.Tecnico

@{
    ViewData["Title"] = "Eliminar Técnico";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="delete-container">
    <h3 class="text-center text-warning">¿Estás seguro de que deseas eliminar este técnico?</h3>
    <h4 class="text-center">Técnico</h4>
    <hr />
    <dl class="row details-list">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Especialidad)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
    </dl>

    <div class="text-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="TecnicoId" />
            <button type="submit" class="custom-btn btn-danger">Eliminar</button>
        }
        <a href="@Url.Action("Index")" class="custom-btn btn-info">Cancelar</a>
    </div>
</div>
