@model SistemaServicios.Models.Tecnico

@{
    ViewData["Title"] = "Detalles del Técnico";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="details-container">
    <h4 class="text-center">Técnico</h4>
    <hr />
    <dl class="row details-list">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Especialidad)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
    </dl>
    <div class="text-center">
        <a asp-action="Index" class="custom-btn btn-info">Volver a la lista</a>
    </div>
</div>
