@model SistemaServicios.Models.CategoriaServicio

@{
    ViewData["Title"] = "Eliminar Categoría de Servicio";
}

<h1 class="text-center" style="color: white;">@ViewData["Title"]</h1>

<div class="delete-container">
    <h3 class="text-center text-warning">¿Estás seguro de que deseas eliminar esta categoría?</h3>
    <h4 class="text-center">Categoría</h4>
    <hr />
    <dl class="row details-list">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>

    <div class="text-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="custom-btn btn-danger">Eliminar</button>
        }
        <a href="@Url.Action("Index")" class="custom-btn btn-info">Cancelar</a>
    </div>
</div>
