@model IEnumerable<SistemaServicios.Models.CategoriaServicio>

@{
    ViewData["Title"] = "Categorías de Servicios";
}

<h1 class="text-center mt-4" style="color: white;">@ViewData["Title"]</h1>

<p class="text-end">
    <a class="custom-btn btn-green" asp-action="Create" asp-controller="CategoriasServicios">Crear Nueva Categoría</a>
</p>

<table class="table custom-table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th class="text-center" style="width: 200px;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var categoria in Model)
            {
                <tr>
                    <td class="text-left">
                        @categoria.Nombre
                    </td>
                    <td class="text-left">
                        @categoria.Descripcion
                    </td>
                    <td class="text-center">
                        <a class="custom-btn btn-orange" asp-action="Edit" asp-route-id="@categoria.CategoriaId">Editar</a>
                        @* <a class="custom-btn btn-info" asp-action="Details" asp-route-id="@categoria.CategoriaId">Detalles</a> *@
                        <a class="custom-btn btn-danger" asp-action="Delete" asp-route-id="@categoria.CategoriaId">Eliminar</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center">No hay categorías registradas.</td>
            </tr>
        }
    </tbody>
</table>
