@model SistemaServicios.Models.SolicitudServicio

@{
    ViewData["Title"] = "Eliminar Solicitud de Servicio";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="delete-container">
    <h3 class="text-center text-warning">¿Estás seguro de que deseas eliminar esta solicitud?</h3>
    <h4 class="text-center">Solicitud de Servicio</h4>
    <hr />
    <dl class="row details-list">
        <dt class="col-sm-4">
            Cliente
        </dt>
        <dd class="col-sm-8">
            @Model.Cliente.Nombre
        </dd>
        <dt class="col-sm-4">
            Técnico
        </dt>
        <dd class="col-sm-8">
            @Model.Tecnico.Nombre
        </dd>
        <dt class="col-sm-4">
            Servicio
        </dt>
        <dd class="col-sm-8">
            @Model.Servicio.Nombre
        </dd>
        <dt class="col-sm-4">
            Fecha Solicitud
        </dt>
        <dd class="col-sm-8">
            @Model.FechaSolicitud.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-4">
            Estado
        </dt>
        <dd class="col-sm-8">
            @Model.Estado
        </dd>
        <dt class="col-sm-4">
            Comentarios
        </dt>
        <dd class="col-sm-8">
            @Model.Comentarios
        </dd>
    </dl>

    <div class="text-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="custom-btn btn-danger">Eliminar</button>
            <a href="@Url.Action("Index")" class="custom-btn btn-info">Cancelar</a>
        }
    </div>
</div>