@model SistemaServicios.Models.SolicitudServicio

@{
    ViewData["Title"] = "Detalles de la Solicitud de Servicio";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="details-container">
    <h4 class="text-center">Solicitud de Servicio</h4>
    <hr />
    <dl class="row details-list">
        <dt class="col-sm-4">
            Cliente
        </dt>
        <dd class="col-sm-8">
            @Model.Cliente.Nombre
        </dd>
        <dt class="col-sm-4">
            Técnico
        </dt>
        <dd class="col-sm-8">
            @Model.Tecnico.Nombre
        </dd>
        <dt class="col-sm-4">
            Servicio
        </dt>
        <dd class="col-sm-8">
            @Model.Servicio.Nombre
        </dd>
        <dt class="col-sm-4">
            Fecha Solicitud
        </dt>
        <dd class="col-sm-8">
            @Model.FechaSolicitud.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-4">
            Estado
        </dt>
        <dd class="col-sm-8">
            @Model.Estado
        </dd>
        <dt class="col-sm-4">
            Comentarios
        </dt>
        <dd class="col-sm-8">
            @Model.Comentarios
        </dd>
    </dl>
    <div class="text-center">
        <a href="@Url.Action("Index")" class="custom-btn btn-info">Volver a la lista</a>
    </div>
</div>