@model SistemaServicios.Models.Servicio

@{
    ViewData["Title"] = "Eliminar Servicio";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="delete-container">
    <h3 class="text-center text-warning">¿Estás seguro de que deseas eliminar este servicio?</h3>
    <h4 class="text-center">Servicio</h4>
    <hr />
    <dl class="row details-list">
        <dt class="col-sm-4">
            Nombre
        </dt>
        <dd class="col-sm-8">
            @Model.Nombre
        </dd>
        <dt class="col-sm-4">
            Descripción
        </dt>
        <dd class="col-sm-8">
            @Model.Descripcion
        </dd>
        <dt class="col-sm-4">
            Precio
        </dt>
        <dd class="col-sm-8">
            @Model.Precio.ToString("C")
        </dd>
        <dt class="col-sm-4">
            Categoría
        </dt>
        <dd class="col-sm-8">
            @Model.Categoria.Nombre
        </dd>
    </dl>

    <div class="text-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="custom-btn btn-danger">Eliminar</button>
            <a href="@Url.Action("Index")" class="custom-btn btn-info">Cancelar</a>
        }
    </div>
</div>