@model SistemaServicios.Models.Servicio

@{
    ViewData["Title"] = "Editar Servicio";
}

<h1 class="text-center">Editar Servicio</h1>

<div class="form-container">
    <h4 class="text-center">Servicio</h4>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ServicioId)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label" })
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control custom-input", placeholder = "Nombre del servicio" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, new { @class = "control-label" })
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control custom-input", placeholder = "Descripción del servicio" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, new { @class = "control-label" })
            @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control custom-input", placeholder = "Precio del servicio" } })
            @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoriaId, new { @class = "control-label" })
            @Html.DropDownListFor(
                     model => model.CategoriaId,
                     (SelectList)ViewBag.CategoriaId,
                     "Seleccionar categoría",
                     new { @class = "form-control custom-input" }
                     )
        </div>

        <div class="form-group text-center">
            <input type="submit" value="Guardar" class="custom-btn btn-green" />
            <a asp-action="Index" class="custom-btn btn-info">Regresar</a>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}