@model SistemaServicios.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Delete Client</h1>

<div class="delete-container">
    <h3 class="text-center text-warning">Esta seguro que desea eliminar esto?</h3>
    <h4 class="text-center">Cliente</h4>
    <hr />
    <dl class="row details-list">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Documento)
        </dd>
    </dl>

    <div class="text-center">
        <form asp-action="Delete" class="d-inline-block">
            <input type="hidden" asp-for="ClienteId" />
            <input type="submit" value="Borrar" class="custom-btn btn-danger" />
        </form>
        <a asp-action="Index" class="custom-btn btn-info">Regresar</a>
    </div>
</div>