@model SistemaServicios.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Client Details</h1>

<div class="details-container">
    <h4 class="text-center">Cliente</h4>
    <hr />
    <dl class="row details-list">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Documento)
        </dd>
    </dl>
    <div class="text-center">
        <a asp-action="Index" class="custom-btn btn-info">Regresar</a>
    </div>
</div>
