@model IEnumerable<SistemaServicios.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center mt-4" style="color: white;">Clientes</h1>

<p class="text-end">
    <a class="custom-btn btn-green" asp-action="Create">Crear Nuevo</a>
</p>

<table class="table custom-table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td class="text-center">
                    <a class="custom-btn btn-orange" asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a>
                    <a class="custom-btn btn-info" asp-action="Details" asp-route-id="@item.ClienteId">Detalles</a>
                    <a class="custom-btn btn-danger" asp-action="Delete" asp-route-id="@item.ClienteId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
